/*hrader--starts*/
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
  
li {
    float: left;
  }
  
li a{
    display: block;
    color:black;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
  }
  
 li a:hover {
    background-color:#f39c12;
  }
 a.active {
    background-color: #00bab1;
    color: white;
  }
  /*hrader--ends*/
/*section heo image--starts*/
.hero_image {
    background:url(media/yy.png) no-repeat;
    background-size: cover;
    height:100vh;
    position: relative;
}
.hero_wrapper{color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.hero_wrapper h1{
  font-size: 2.4rem;
  text-align: center;
}
.hero_wrapper span{
	margin-left: 5rem;
	display:inline-block;
	margin-bottom: .5rem;	
}
.form_code
{
	text-align:center;
}
.form_code .post_code{
	display:block;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	border-radius:2rem;
	padding:0.6rem;
	border:none;
	outline:none;

}
.form_code button{
	width:40%;
	text-align:center;
	background-color:#00bab1;
	color:white; 
	padding:.6rem;
	margin: 1rem auto 0rem;
	border:none;
	border-radius:0.3rem;		
}
.form_code button:hover{
    background-color:#f39c12;
  } 
  /*section heo image--ends*/
  .column5{
    float: left;
    width:50%;
    margin-bottom: 16px;
    padding:50px 75px 50px;
  }
  @media screen and (max-width: 650px) {
    .column5 {
      width: 100%;
      display: block;
    }
  }
  /*team section starts*/
  .column{
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 25px 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    background-color:#00bab1 ;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color:#f39c12;
  }
  /*team section ends*/
  .cont{
      background-color:#f39c12 ;

  }
  .cont1{
    background-color:pink;
}
.cont2{
   background-color:#00bab1;
}
  .cont3{
     background-color:pink;
  }
  .cont4{
    background-color:grey;
  }